body {
    font-family: Arial, sans-serif;
    background-color: #F3F0E8; /* Background color */
    color: #971522; /* Text color */
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    background-color: #713E31; /* Accent color */
    color: white;
    padding: 10px;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    color: #E7BE9A; /* Accent color */
}

#puzzles {
    margin: 20px;
    padding: 20px;
    background-color: #E7BE9A;
    border-radius: 10px;
}

#final {
    display: none;
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
}
